<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Colour palette tools">
    <meta name="author" content="Stephen Cox">
    <title>{% block title %}{% endblock %}Colour Tools</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
  <script src="lib/jquery/dist/jquery.min.js"></script>
  <script src="lib/chroma-js/chroma.min.js"></script>
  <script src="js/scripts.min.js"></script>
</html>