{% extends "layout.html" %}

{% block content %}
    <h1>Colour Palette Tools</h1>
    <div id="colour-palette-tools">
      <div class="js-colour-block colour-block"></div>
      <div class="js-slider-hue slider slider__hue">
        <div class="js-slider-range slider__range"></div>
        <input type="text" class="js-slider-value slider__value" value="" />
      </div>
      <div class="js-slider-saturation slider slider__saturation">
        <div class="js-slider-range slider__range"></div>
        <input type="text" class="js-slider-value slider__value" value="" />
      </div>
      <div class="js-slider-luminosity slider slider__luminosity">
        <div class="js-slider-range slider__range"></div>
        <input type="text" class="js-slider-value slider__value" value="" />
      </div>
    </div>
{% endblock %}